<?xml version='1.0' encoding='utf-8'?>
<plugin id="szjy.advtech" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>pluginWakup</name><js-module name="pluginWakup" src="www/pluginWakup.js"><clobbers target="cordova.plugins.pluginWakup" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="pluginWakup"><param name="android-package" value="szjy.advtech.pluginWakup" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/pluginWakup.java" target-dir="src/szjy/advtech/pluginWakup" /></platform></plugin>